<app-header>
</app-header>
<section class="vh-100">
    <div class="container-fluid vh-100">
        <div class="row">
            <div class="d-flex justify-content-center  container-box">

                <div class="card " style="width: 40rem;">
                    <img src="../../../assets/img/Wplay-Logo-blanco.png" class="card-img-top mt-4 mb-4 px-4" alt="..." style="width: 210px; height: 50px;">

                    <div class="card-body">
                        <h5 class="card-title mb-4 text-white text-center">Recuperar Contraseña</h5>

                        <form [formGroup]="formForgot" (submit)="submit(formForgot.value)">


                            <div class="row g-2">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-floating  mb-3 user">
                                        <input formControlName="email" type="email" name="email" class="form-control " id="floatingInput" placeholder="user">
                                        <label for="floatingInput">Correo</label>


                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formForgot.get('email')?.hasError('required')&&formForgot.get('email')?.dirty && formForgot.get('email')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>



                                    </div>
                                </div>
                            </div>




                            <div class="d-grid gap-2 mt-3 mb-3 login-box">
                                <button [disabled]="formForgot.invalid" class="btn" type="submit">
                                   Registrar</button>
                            </div>



                        </form>
                        <p class="card-text text-center text-white mt-5 ">¿Ya tiene cuenta?
                            <a [routerLink]="['/login']">
                                <p class="card-text ">Iniciar sesión</p>
                            </a>
                        </p>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>