.container-fluid {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #363795, #0252AB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #363795, #0252AB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-box {
    margin-top: 40px;
    margin-bottom: 40px;
}

.card {
    background: transparent;
    background: rgba(2, 2, 2, 0.39);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-title {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.user input {
    background: transparent !important;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0%;
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

.user label {
    color: #03e9f4;
}

.user input:focus {
    outline: none;
}

.login-box button:hover {
    background: rgba(0, 242, 250, 0.11);
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 30px #03e9f4, 0 0 5px #03e9f4;
}

.login-box {
    background: transparent !important;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

.login-box button {
    color: #fffbfb;
    background: rgba(15, 154, 209, 0.637);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border-radius: 25px;
}