<!--
<div class="container mt-5">
    <div class="row">


        <div class="col-sm-4  bg-success">
            <div class="sticky-top">
                <div class="card">
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Palabra Clave" name="filterPost">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-sm-8 bg-primary">
            <div class="row">
                <div class="py-2 col-sm-12 col-md-4 col-lg-12">
                    <div class="card shadow info">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted text-start">area</h6>
                            <h1 class="card-title fw-bold text-start"> <a href="#" class="btn stretched-link btnCard">nombre </a></h1>
                            <p class="card-text text-muted text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et mollitia, distinctio quae totam voluptatibus eum, quibusdam blanditiis maiores reprehenderit quis atque omnis illum explicabo porro corrupti consequatur animi magni
                                aperiam!
                            </p>
                            <div class="card-footer text-muted text-start">
                                ciudad
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->


<div class="px-5 mt-5">
    <div class="row">



        <div class="col-sm-4  bg-success">

            <div class="sticky-top">
                <div class="card">
                    <form>
                        <div class="mb-3">

                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Palabra Clave" [(ngModel)]="filterPost" name="filterPost">

                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-sm-8 bg-primary">
            <div class="row">

                <div *ngFor="let vacante of vacantes | paginate: {itemsPerPage: 3, currentPage: page, totalItems: totalVacantes } | filter: filterPost " class="py-2 col-sm-12 col-md-4 col-lg-12">

                    <div class="card shadow info">

                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted text-start">{{vacante.area}}</h6>
                            <h1 class="card-title fw-bold text-start"> <a href="#" (clik)="openAdd()" class="btn stretched-link btnCard">{{vacante.nombreVacante}}</a></h1>
                            <p class="card-text text-muted text-start">{{vacante.descripcion}}
                            </p>
                            <div class="card-footer text-muted text-start">
                                {{vacante.ciudad}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>