<footer>
    <section class="contact-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <a href="#"><img src="../../../assets/img/Wplay-Logo-blanco.png" alt="logo"></a>
                        <p>Wplay.co es propiedad de AQUILA GLOBAL GROUP S.A.S, sociedad comercial con NIT 901001374-2, domicilio principal en la ciudad de Medellín - Colombia, Calle 53 # 45 112 Piso 3 - Edificio Colseguros , teléfono (574) 604 7016.</p>
                        <div class="hr"></div>

                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-instagram"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="copyrights text-center mt-5">

                <p>&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">wplay.co</a></p>
            </div>

        </div>
    </section>
    <!-- =============== 1.9 Contact Area End ====================-->

</footer>