<!--
<nav class="navbar  navbar-expand-lg navbar-dark ">
    <div class="container-fluid px-5">
        <a class="navbar-brand" routerLink="">
            <img alt="" class="card-img-top " src="../../../assets/img/favicon.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/inicio']" [routerLinkActive]="['is-active']">Inicio</a>
                </li>


            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-success " [routerLink]="['/login']">Iniciar Sesión</a>

                <a class="btn btn-outline-info mx-2" [routerLink]="['/registro']">Registrate</a>



                <a class="btn mx-2 logo">Edwin Sánchez  <i class="fa-solid fa-user mx-2"></i></a>
            </form>
        </div>
    </div>
</nav>

-->

<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="#"><img alt="" class="card-img-top " src="../../../assets/img/jobs-wplay3.png" style="height:30px ;width:130px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link logo " [routerLink]="['/inicio']" [routerLinkActive]="['is-active']">Inicio</a>

                </li>
            </ul>
            <form class="d-flex">
                <a *ngIf="!isLogged" class="btn btn-outline-warning " [routerLink]="['/login']">Iniciar Sesión</a>

                <a *ngIf="!isLogged" class="btn btn-outline-info mx-2" [routerLink]="['/registro']">Registrate</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li *ngIf="isLogged" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle logo" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{nombre | titlecase}} {{apellido | titlecase}}  <i class="fa-solid fa-user mx-2"></i>
                </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Actualizar Datos</a></li>
                            <li><a (click)="deshabilitar()" class="dropdown-item" href="#">Desactivar Cuenta</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a (click)="salir()" class="dropdown-item" href="#">Salir</a></li>
                        </ul>
                    </li>
                </ul>

            </form>
        </div>
    </div>
</nav>