<header>
    <app-header></app-header>
</header>


<div class="px-5 mt-5">

    <form [formGroup]="formT" (ngSubmit)="enviarTodo(formT.value)">
        <!--Sesion 1-->
        <div class="row">

            <div class="text-center mb-4">
                <h1 class="animate__animated animate__fadeIn">{{response.nombreVacante}}</h1>
            </div>

            <!--Col 1-->
            <div class="col-sm-5 col-md-3 text-start mt-2">

                <h2 class="animate__animated animate__fadeInDown">Sobre ti</h2>
                <h6 class="text-muted animate__animated animate__fadeInDown">Hablanos un poco sobre ti</h6>

            </div>
            <!--End Col 1-->

            <!--Col 2-->
            <div class="col-sm-5 col-md-9">



                <div class="accordion" id="accordionExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                          Paso 1/5
                        </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                            <div class="accordion-body">






                                <!--File 1-->
                                <div class="row g-2">

                                    <div class="col-sm-12 col-md-12">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text nr " ngxTippy data-tippy-content="Ingrese sus nombres y apellidos completos"><i class="fa-solid fa-user-tie animate__animated animate__rubberBand  " ></i></span>
                                            <input type="text" placeholder="Nombres" formControlName="nombre" name="nombre" aria-label="First name" class="form-control" [ngClass]="{'is-invalid': formT.get('nombre')?.hasError('required')&&formT.get('nombre')?.dirty && formT.get('nombre')?.touched }">

                                            <input type="text" placeholder="Apellidos" formControlName="apellido" name="apellido" aria-label="Last name" class="form-control" [ngClass]="{'is-invalid': formT.get('apellido')?.hasError('required')&&formT.get('apellido')?.dirty && formT.get('apellido')?.touched }">
                                        </div>



                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('nombre')?.hasError('required')&&formT.get('nombre')?.dirty && formT.get('nombre')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>



                                        <div class="text-danger px-4 col-6 float-end" *ngIf="formT.get('apellido')?.hasError('required')&&formT.get('apellido')?.dirty && formT.get('apellido')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>


                                    </div>

                                </div>
                                <!--End File 1-->


                                <!--File 2-->
                                <div class="row g-2">

                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1" ngxTippy data-tippy-content="Ingrese su número de celular"><i class="fa-solid fa-mobile-screen animate__animated animate__rubberBand "></i></span>
                                            <input type="text" class="form-control " placeholder="Celular" aria-label="Celular" formControlName="celular" name="celular" aria-describedby="basic-addon1" [ngClass]="{'is-invalid': formT.get('celular')?.hasError('required')&&formT.get('celular')?.dirty && formT.get('celular')?.touched || formT.get('celular')?.hasError('maxlength') ||formT.get('celular')?.hasError('pattern')  }">
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('celular')?.hasError('required')&&formT.get('celular')?.dirty && formT.get('celular')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('celular')?.hasError('maxlength')">
                                            <p>El campo debe tener maximo 10 caracteres</p>
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('celular')?.hasError('minlength')">
                                            <p>El campo debe tener minimo 10 caracteres</p>
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('celular')?.hasError('pattern')">
                                            <p>Solo se admiten números</p>
                                        </div>



                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1" ngxTippy data-tippy-content="Ingrese su fecha de cumpleaños"><i class="fa-solid fa-cake-candles animate__animated animate__rubberBand "></i></span>
                                            <input onfocus="(this.type='date')" onblur="(this.type= this.value ? 'date' : 'text')" formControlName="cumpleanios" name="cumpleanios" class="form-control" placeholder="Fecha de cumpleaños" aria-label="cumpleanios" aria-describedby="basic-addon1" [ngClass]="{'is-invalid': formT.get('cumpleanios')?.hasError('required')&&formT.get('cumpleanios')?.dirty && formT.get('cumpleanios')?.touched }">
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('cumpleanios')?.hasError('required')&&formT.get('cumpleanios')?.dirty && formT.get('cumpleanios')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>


                                </div>
                                <!--End File 2-->

                                <!--File 3-->
                                <div class="row g-2">

                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1" ngxTippy data-tippy-content="Ingrese su número de cédula"><i class="fa-solid fa-id-card animate__animated animate__rubberBand "></i></span>
                                            <input type="text" name="cedula" formControlName="cedula" class="form-control" placeholder="Cédula" aria-label="Username" aria-describedby="basic-addon1" [ngClass]="{'is-invalid': formT.get('cedula')?.hasError('required')&&formT.get('cedula')?.dirty && formT.get('cedula')?.touched || formT.get('cedula')?.hasError('maxlength') || formT.get('cedula')?.hasError('minlength') || formT.get('cedula')?.hasError('pattern') }">
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('cedula')?.hasError('required')&&formT.get('cedula')?.dirty && formT.get('cedula')?.touched  ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('cedula')?.hasError('maxlength')">
                                            <p>El campo debe tener maximo 11 caracteres</p>
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('cedula')?.hasError('minlength')">
                                            <p>El campo debe tener minimo 6 caracteres</p>
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('cedula')?.hasError('pattern')">
                                            <p>Solo se admiten números</p>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1" ngxTippy data-tippy-content="Ingrese la fecha de expedición de su cedula"><i class="fa-solid fa-calendar-days animate__animated animate__rubberBand "></i></span>
                                            <input onfocus="(this.type='date')" onblur="(this.type= this.value ? 'date' : 'text')" name="fechaexped_cc" formControlName="fechaexped_cc" class="form-control" placeholder="Fecha de expedición" aria-label="Username" aria-describedby="basic-addon1" [ngClass]="{'is-invalid': formT.get(' fechaexped_cc')?.hasError('required')&&formT.get(' fechaexped_cc')?.dirty && formT.get(' fechaexped_cc')?.touched  }">
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('fechaexped_cc')?.hasError('required')&&formT.get('fechaexped_cc')?.dirty && formT.get('fechaexped_cc')?.touched  ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1" ngxTippy data-tippy-content="Ingrese el lugar de expedición de su cedula"><i class="fa-solid fa-location-dot animate__animated animate__rubberBand "></i></span>
                                            <input type="text" name="lugarexped_cc" formControlName="lugarexped_cc" class="form-control" placeholder="Lugar de expedición" aria-label="Username" aria-describedby="basic-addon1" [ngClass]="{'is-invalid': formT.get('lugarexped_cc')?.hasError('required')&&formT.get('lugarexped_cc')?.dirty && formT.get('lugarexped_cc')?.touched || formT.get('lugarexped_cc')?.hasError('maxlength') || formT.get('lugarexped_cc')?.hasError('minlength') || formT.get('lugarexped_cc')?.hasError('pattern') }">
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('lugarexped_cc')?.hasError('required')&&formT.get('lugarexped_cc')?.dirty && formT.get('lugarexped_cc')?.touched  ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>

                                </div>
                                <!--End File 3-->

                                <!--File 3-->
                                <div class="row g-2">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1" ngxTippy data-tippy-content="Ingrese su email"><i class="fa-solid fa-envelope animate__animated animate__rubberBand "></i></span>
                                            <input type="email" name="email" formControlName="email" class="form-control" placeholder="Correo Electronico" aria-label="Username" aria-describedby="basic-addon1" [ngClass]="{'is-invalid': formT.get('email')?.hasError('required')&&formT.get('email')?.dirty && formT.get('email')?.touched || formT.get('email')?.hasError('email') }">
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('email')?.hasError('email') ">
                                            <p>Este campo debe ser un email</p>
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('email')?.hasError('required')&&formT.get('email')?.dirty && formT.get('email')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-group mb-3">

                                            <label class="input-group-text dates" for="inputGroupSelect01" ngxTippy data-tippy-content="Seleccione la ciudad donde vive"><i class="fa-solid fa-location-dot animate__animated animate__rubberBand "></i></label>
                                            <select [ngClass]="{'is-invalid': formT.get('ciudad')?.hasError('required')&&formT.get('ciudad')?.dirty && formT.get('ciudad')?.touched || formT.get('required')?.hasError('ciudad') }" name="ciudad" formControlName="ciudad" class="form-select" id="inputGroupSelect01">
                                              <option  value="" selected >Ciudad</option>
                                              <option  *ngFor="let ciu of ciudades" [value]="ciu.ciudad_id">{{ciu.ciudad}}</option>
                                             </select>

                                        </div>



                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('ciudad')?.hasError('required')&&formT.get('ciudad')?.dirty && formT.get('ciudad')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>


                                    </div>

                                </div>
                                <!--End File 3-->



                                <!--File 3-->
                                <div class="row g-2">

                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text dates" for="inputGroupSelect01" ngxTippy data-tippy-content="Seleccine el medio por el cual se entero de la vacante"><i class="fa-solid fa-clipboard-question animate__animated animate__rubberBand "></i></label>
                                            <select [ngClass]="{'is-invalid': formT.get('mediovac_id')?.hasError('required')&&formT.get('mediovac_id')?.dirty && formT.get('mediovac_id')?.touched || formT.get('required')?.hasError('mediovac_id') }" name="mediovac_id" formControlName="mediovac_id"
                                                class="form-select" id="inputGroupSelect01">
                                              <option  value="" selected >Cómo te enteraste de la vacante?</option>
                                              <option  *ngFor="let medio of medios" [value]="medio.clasificador_id">{{medio.descripcion}}</option>
                                             </select>
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('mediovac_id')?.hasError('required')&&formT.get('mediovac_id')?.dirty && formT.get('mediovac_id')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>


                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1" ngxTippy data-tippy-content="Ingrese su red social favorita"><i class="fa-solid fa-thumbs-up animate__animated animate__rubberBand "></i></span>
                                            <input type="text" name="redsocial" formControlName="redsocial" class="form-control" placeholder="Red social favorita" aria-label="Red Social" aria-describedby="basic-addon1" [ngClass]="{'is-invalid': formT.get('redsocial')?.hasError('required')&&formT.get('redsocial')?.dirty && formT.get('redsocial')?.touched }">
                                        </div>

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('redsocial')?.hasError('required')&&formT.get('redsocial')?.dirty && formT.get('redsocial')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>
                                </div>
                                <!--End File 3-->
                            </div>
                            <!--End Col 2-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Sesion 1-->

        <hr>

        <!--Sesion 2-->
        <div class="row">

            <!--Col 1-->
            <div class="col-sm-5 col-md-3 text-start mt-2">

                <h2 class="animate__animated animate__fadeInDown">Habilidades</h2>
                <h6 class="text-muted animate__animated animate__fadeInDown">Describe lo mejor que sabes hacer</h6>
            </div>
            <!--End Col 1-->



            <!--Col 2-->
            <div class="col-sm-5 col-md-9">

                <div class="accordion" id="accordionExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                          Paso 2/5
                        </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                            <div class="accordion-body">


                                <!--File 1-->
                                <div class="row g-2">

                                    <div class="col-sm-12 col-md-12">

                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="mejor_hacer" formControlName="mejor_hacer" [ngClass]="{'is-invalid': formT.get('mejor_hacer')?.hasError('required')&&formT.get('mejor_hacer')?.dirty && formT.get('mejor_hacer')?.touched }"
                                                style="height: 100px"></textarea>
                                            <label class="text-muted" for="floatingTextarea2">Cuéntanos lo mejor que sabes hacer y por qué crees que agregaría valor en Wplay.co.</label>
                                        </div>
                                    </div>

                                    <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('mejor_hacer')?.hasError('required')&&formT.get('mejor_hacer')?.dirty && formT.get('mejor_hacer')?.touched ">
                                        <p>Este campo es obligatorio</p>
                                    </div>


                                </div>
                                <!--End File 1-->

                            </div>
                            <!--End Col 2-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Sesion 2-->

        <hr>

        <!--Sesion 3-->
        <div class="row">

            <!--Col 1-->
            <div class="col-sm-5 col-md-3 text-start mt-2">

                <h2 class="animate__animated animate__fadeInDown">Documentos</h2>
                <h6 class="text-muted animate__animated animate__fadeInDown">Adjunta tus documentos</h6>
            </div>
            <!--End Col 1-->



            <!--Col 2-->
            <div class="col-sm-5 col-md-9">

                <div class="accordion" id="accordionExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          Paso 3/5
                        </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse show" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                            <div class="accordion-body">


                                <!--File 1-->
                                <div class="row g-2">

                                    <div class="col-sm-12 col-md-12">
                                        <div class="input-group mb-3">
                                            <label for="formFileMultiple" class="input-group fw-bold text-muted">Adjunte su hoja de vida (Obligatorio)</label>
                                            <input (change)="capturarFileHv($event)" name="hv" formControlName="hv" type="file" class="form-control fw-bold text-muted" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" [ngClass]="{'is-invalid': formT.get('hv')?.hasError('hv')&&formT.get('hv')?.dirty && formT.get('hv')?.touched }">



                                        </div>
                                        <!--
                                        <button (click)="subirArchivo($event)" type="button" ngxTippy data-tippy-content="Adjunte su hoja de vida o cv" class="btn btn-info input-group-text" id="basic-addon2">
                                            {{(loading)?'Cargando': 'Subir adjunto'}}</button>
                                            -->

                                        <div class="text-danger px-1 col-6 float-start " *ngIf="formT.get('hv')?.hasError('required')&&formT.get('hv')?.dirty && formT.get('hv')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>


                                        <div *ngIf="isLoading" class="progress mb-3">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                        </div>

                                        <!--Preview-->
                                        <div *ngIf="myimage">
                                            <img [src]="myimage | async" width="100px" height="100px" alt="" />
                                        </div>
                                    </div>

                                </div>
                                <!--End File 1-->




                                <!--File 2-->
                                <div class="row g-2">

                                    <div class="col-sm-12 col-md-12">
                                        <div class="input-group mb-3">
                                            <label for="formFileMultiple" class="input-group fw-bold text-muted">Adjunte su portafolio (Opcional)</label>
                                            <input (change)="capturarFilePf($event)" type="file" name="pf" formControlName="pf" class="form-control fw-bold text-muted" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                            <span class="input-group-text" id="basic-addon2" ngxTippy data-tippy-content="Adjunte su portafolio"><i class="fa-solid fa-paperclip"></i></span>
                                        </div>
                                    </div>

                                </div>
                                <!--End File 2-->

                                <!--File 3-->
                                <div class="row g-2">

                                    <div class="col-sm-12 col-md-12">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1" ngxTippy data-tippy-content="Ingrese el link de su portafolio o alguno de sus trabajos"><i class="fa-solid fa-briefcase animate__animated animate__rubberBand"></i></span>
                                            <input type="text" name="lpf" formControlName="lpf" class="form-control" placeholder="Link portafolio o alguno de tus mejores trabajos (Opcional)" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <!--End File 3-->
                            </div>
                            <!--End Col 2-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Sesion 3-->

        <hr>

        <!--Sesion 4-->
        <div class="row">

            <!--Col 1-->
            <div class="col-sm-5 col-md-3 text-start mt-2">

                <h2 class="animate__animated animate__fadeInDown">Experiencia</h2>
                <h6 class="text-muted animate__animated animate__fadeInDown">Cuentanos un poco de tu experiencia laboral</h6>
            </div>
            <!--End Col 1-->



            <!--Col 2-->
            <div class="col-sm-5 col-md-9">

                <div class="accordion" id="accordionExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                          Paso 4/5
                        </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse show" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                            <div class="accordion-body">




                                <!-- Modal Formulario Experiencia -->
                                <div class="modal fade" id="modalExperiencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <form [formGroup]="formE" (ngSubmit)="enviarE(formE.value)">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Experiencia Laboral</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">


                                                    <!--File 1-->
                                                    <div class="row g-2">

                                                        <div class="col-sm-12 col-md-4">
                                                            <div class="input-group mb-3">
                                                                <span ngxTippy data-tippy-content="Ingrese la empresa" class="input-group-text" id="basic-addon1"><i class="fa-solid fa-building animate__animated animate__rubberBand"></i></span>
                                                                <input type="text" name="empresa" formControlName="empresa" class="form-control" placeholder="Empresa" aria-label="Empresa" aria-describedby="basic-addon1">
                                                            </div>

                                                            <div class="text-danger px-1" *ngIf="formE.get('empresa')?.hasError('required') && formE.get('empresa')?.touched ">
                                                                <p>Este campo es obligatorio</p>
                                                            </div>

                                                        </div>

                                                        <div class="col-sm-12 col-md-4">
                                                            <div class="input-group mb-3">
                                                                <span ngxTippy data-tippy-content="Ingrese el cargo" class="input-group-text" id="basic-addon1"><i class="fa-solid fa-network-wired animate__animated animate__rubberBand"></i></span>
                                                                <input type="text" name="cargo" formControlName="cargo" class="form-control" placeholder="Cargo" aria-label="Cargo" aria-describedby="basic-addon1">
                                                            </div>

                                                            <div class="text-danger px-1" *ngIf="formE.get('cargo')?.hasError('required') && formE.get('cargo')?.touched ">
                                                                <p>Este campo es obligatorio</p>
                                                            </div>

                                                        </div>

                                                        <div class="col-sm-12 col-md-4">


                                                            <div class="input-group mb-3">
                                                                <label ngxTippy data-tippy-content="Seleccione la ciudad" class="input-group-text dates" for="inputGroupSelect01"><i class="fa-solid fa-location-dot animate__animated animate__rubberBand"></i></label>
                                                                <select name="ciudad_id" formControlName="ciudad_id" class="form-select" id="inputGroupSelect01">
                                                                    <option disabled selected value="">Ciudad</option>
                                                                    <option  *ngFor="let ciu of ciudades">{{ciu.ciudad}}</option>
                                                                    
                                                                 </select>
                                                            </div>

                                                            <div class="text-danger px-1" *ngIf="formE.get('ciudad_id')?.hasError('required') && formE.get('ciudad_id')?.touched ">
                                                                <p>Este campo es obligatorio</p>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <!--End File 1-->




                                                    <!--File 2-->
                                                    <div class="row g-2">



                                                        <div class="col-sm-12 col-md-12">
                                                            <div class="mb-3">
                                                                <div class="form-floating">
                                                                    <textarea name="descripcion" formControlName="descripcion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                                                    <label for="floatingTextarea2">Describe el cargo y funciones</label>
                                                                </div>
                                                            </div>

                                                            <div class="text-danger px-1" *ngIf="formE.get('descripcion')?.hasError('required') && formE.get('descripcion')?.touched ">
                                                                <p>Este campo es obligatorio</p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!--End File 2-->

                                                    <!--File 3-->
                                                    <div class="row g-2">



                                                        <div class="col-sm-12 col-md-3">
                                                            <div class="input-group mb-3">
                                                                <label ngxTippy data-tippy-content="Seleccione el año de inicio" class="input-group-text dates" for="inputGroupSelect01">Año inicio</label>
                                                                <select name="anio_ini" formControlName="anio_ini" class="form-select" id="inputGroupSelect01">
                                                                 <option disabled selected value="">Año</option>
                                                                 <option *ngFor="let year of years" >{{year}}</option>
                                                                 </select>
                                                            </div>

                                                            <div class="text-danger px-1" *ngIf="formE.get('anio_ini')?.hasError('required') && formE.get('anio_ini')?.touched ">
                                                                <p>Este campo es obligatorio</p>
                                                            </div>

                                                        </div>

                                                        <div class="col-sm-12 col-md-3">
                                                            <div class="input-group mb-3">
                                                                <label ngxTippy data-tippy-content="Seleccione el mes de inicio" class="input-group-text dates" for="inputGroupSelect01">Mes inicio</label>
                                                                <select name="mes_ini" formControlName="mes_ini" class="form-select" id="inputGroupSelect01">
                                                                 <option disabled selected value="">Mes</option>
                                                                 <option *ngFor="let mes of meses">{{mes}}</option>
                                                                </select>
                                                            </div>

                                                            <div class="text-danger px-1" *ngIf="formE.get('mes_ini')?.hasError('required') && formE.get('mes_ini')?.touched ">
                                                                <p>Este campo es obligatorio</p>
                                                            </div>

                                                        </div>

                                                        <div class="col-sm-12 col-md-3">
                                                            <div class="input-group mb-3">
                                                                <label ngxTippy data-tippy-content="Seleccione el año de fin" class="input-group-text dates" for="inputGroupSelect01">Año fin</label>
                                                                <select name="anio_fin" formControlName="anio_fin" class="form-select" id="inputGroupSelect01">
                                                                 <option disabled selected value="">Año</option>
                                                                 <option *ngFor="let year of years">{{(formE.get('actualmente')?.value === 'S')? '': year}}</option>
                                                                </select>
                                                            </div>

                                                            <!--
                                                            <div class="text-danger px-1" *ngIf="formE.get('anio_fin')?.hasError('required') && formE.get('anio_fin')?.touched ">
                                                                <p>Este campo es obligatorio</p>
                                                            </div>
                                                            -->

                                                        </div>

                                                        <div class="col-sm-12 col-md-3">
                                                            <div class="input-group mb-3">
                                                                <label ngxTippy data-tippy-content="Seleccione el mes de fin" class="input-group-text dates" for="inputGroupSelect01">Mes fin</label>
                                                                <select name="mes_fin" formControlName="mes_fin" class="form-select" id="inputGroupSelect01">
                                                                <option disabled selected value="">Mes</option>
                                                                <option *ngFor="let mes of meses"  >{{(formE.get('actualmente')?.value === 'S')? '': mes}}</option>
                                                                </select>
                                                            </div>
                                                            <!--
                                                            <div class="text-danger px-1" *ngIf="formE.get('mes_fin')?.hasError('required') && formE.get('mes_fin')?.touched ">
                                                                <p>Este campo es obligatorio</p>
                                                            </div>
                                                            -->

                                                        </div>

                                                    </div>
                                                    <!--End File 3-->

                                                    <!--File 4-->
                                                    <div class="row g-2">
                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="input-group mb-3">
                                                                <label ngxTippy data-tippy-content="Seleccione si está trabando actualmente" class="input-group-text dates" for="inputGroupSelect01">Trabaja aquí actualmente</label>
                                                                <select name="actualmente" formControlName="actualmente" class="form-select" id="inputGroupSelect01">
                                                                <option  selected [value]="'S'">Sí</option>
                                                                <option  [value]="'N'">No</option>
                                                                
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!--End File 4-->


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                    <button [disabled]="formE.invalid" type="submit" class="btn btn-primary">{{(swe)?'Actualizar': 'Guardar'}}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--End Modal Formulario Experiencia -->


                                <div class="row g-2">


                                    <div class="table-responsive ">
                                        <table class="table table-dark table-hover text-center">
                                            <thead>


                                                <tr>
                                                    <th scope="col">Empresa</th>
                                                    <th scope="col">Cargo</th>
                                                    <th scope="col">Ciudad</th>
                                                    <th scope="col">Mes-Año inicio</th>
                                                    <th scope="col">Mes-Año fin</th>
                                                    <th scope="col">Descripción</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>


                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of listaExperiencia;let indice=index">
                                                    <td>{{item.empresa}}</td>
                                                    <td>{{item.cargo}}</td>
                                                    <td>{{item.ciudad_id}}</td>
                                                    <td>{{item.mes_ini}}-{{item.anio_ini}}</td>
                                                    <td>{{item.mes_fin}}-{{item.anio_fin}}</td>
                                                    <td>{{item.descripcion}}</td>
                                                    <td>
                                                        <button (click)="editarExperiencia(item,indice)" type="button" class="btn text-white " data-bs-toggle="modal" data-bs-target="#modalExperiencia">
                                                        <i class="fa-solid fa-pen-to-square icono ">
                                                            
                                                        </i></button>
                                                        <button (click)="eliminarExperiencia(indice)" type="button" class="btn text-white"><i class="fa-solid fa-trash icono"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!--File 1-->
                                <div class="row g-2 mt-2">
                                    <div class="col-sm-6 col-md-6">

                                        <!-- Button trigger modal -->
                                        <button (click)="agregarExperiencia()" type="button" class="btn btn-info rounded-pill fw-bold " data-bs-toggle="modal" data-bs-target="#modalExperiencia">Agregar +</button>


                                    </div>
                                </div>
                                <!--End File 1-->
                            </div>
                            <!--End Col 2-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Sesion 4-->

        <hr>

        <!--Sesion 5-->
        <div class="row">

            <!--Col 1-->
            <div class="col-sm-5 col-md-3 text-start mt-2">

                <h2 class="animate__animated animate__fadeInDown">Formación</h2>
                <h6 class="text-muted animate__animated animate__fadeInDown">Cuentanos un poco de tu formación y conocimientos</h6>
            </div>
            <!--End Col 1-->



            <!--Col 2-->
            <div class="col-sm-5 col-md-9">

                <div class="accordion" id="accordionExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading5">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                          Paso 5/5
                        </button>
                        </h2>

                        <!--Accordion collapse-->
                        <div id="collapse5" class="accordion-collapse collapse show" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                            <div class="accordion-body">


                                <!-- Modal Formulario Formación -->
                                <div class="modal fade" id="modalFormacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <form [formGroup]="formF" (ngSubmit)="enviarF(formF.value)">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Formación Académica</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!--File 1-->
                                                    <div class="row g-2">

                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="input-group mb-3">
                                                                <span ngxTippy data-tippy-content="Ingrese el nombre de la institución" class="input-group-text" id="basic-addon1"><i class="fa-solid fa-school animate__animated animate__rubberBand"></i></span>
                                                                <input type="text" name="nombre_institucion" formControlName="nombre_institucion" class="form-control" placeholder="Nombre de la institución" aria-label="Institución" aria-describedby="basic-addon1">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="input-group mb-3">
                                                                <span ngxTippy data-tippy-content="Ingrese el nombre del programa academico" class="input-group-text" id="basic-addon1"><i class="fa-solid fa-book animate__animated animate__rubberBand"></i></span>
                                                                <input type="text" name="programa_academico" formControlName="programa_academico" class="form-control" placeholder="Programa académico" aria-label="Programa" aria-describedby="basic-addon1">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!--End File 1-->

                                                    <!--File 2-->
                                                    <div class="row g-2">

                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="input-group mb-3">
                                                                <label ngxTippy data-tippy-content="Seleccione el nivel" class="input-group-text dates" for="inputGroupSelect01"><i class="fa-solid fa-graduation-cap animate__animated animate__rubberBand"></i></label>
                                                                <select name="nivel_id" formControlName="nivel_id" class="form-select" id="inputGroupSelect01">
                              <option class="text-muted" selected disabled value="">Nivel Académico</option>
                              <option *ngFor="let nivel of niveles" >{{nivel.descripcion}}</option>
                             </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="input-group mb-3">


                                                                <label ngxTippy data-tippy-content="Seleccione el estado" class="input-group-text dates" for="inputGroupSelect01"><i class="fa-solid fa-check-to-slot animate__animated animate__rubberBand"></i></label>
                                                                <select name="estado_id" formControlName="estado_id" class="form-select" id="inputGroupSelect01">
                              <option class="text-muted" selected disabled value="">Estado</option>
                              <option  *ngFor="let estado of estadosF" >{{estado.descripcion}}</option>
                              </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End File 2-->

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                    <button [disabled]="formF.invalid" type="submit" class="btn btn-primary">{{(swf)?'Actualizar': 'Guardar'}}</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--End Modal Formulario Formación -->


                                <!--File 1-->
                                <div class="row g-2">


                                    <div class="table-responsive">
                                        <table class="table table-dark table-hover text-center">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nombre de la Institución</th>
                                                    <th scope="col">Programa Académico</th>
                                                    <th scope="col">Nivel</th>
                                                    <th scope="col">Estado</th>
                                                    <th scope="col">Acciones</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of listaFormacion;let indice=index">
                                                    <td>{{item.nombre_institucion}}</td>
                                                    <td>{{item.programa_academico}}</td>
                                                    <td>{{item.nivel_id}}</td>
                                                    <td>{{item.estado_id}}</td>
                                                    <td>
                                                        <button (click)="editarFormacion(item,indice)" type="button" class="btn text-white " data-bs-toggle="modal" data-bs-target="#modalFormacion">
                                                        <i class="fa-solid fa-pen-to-square icono ">
                                                            
                                                        </i></button>
                                                        <button (click)="eliminarFormacion(indice)" type="button" class="btn text-white"><i class="fa-solid fa-trash icono"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <!--End File 1-->


                                <!--File 2-->
                                <div class="row g-2 mt-2">
                                    <div class="col-sm-6 col-md-6">
                                        <!-- Button trigger modal -->
                                        <button (click)="agregarFormacion()" type="button" class="btn btn-info rounded-pill fw-bold" data-bs-toggle="modal" data-bs-target="#modalFormacion">Agregar +</button>
                                    </div>


                                </div>
                                <!--End File 2-->
                            </div>
                            <!--End Col 2-->
                        </div>
                        <!--End Accordion collapse-->
                    </div>
                </div>
            </div>
        </div>
        <!--End Sesion 5-->

        <hr>

        <!--Sesión Autorización-->
        <div class="row">
            <div class="col-sm-5 col-md-6  mt-2">
                <div class="mb-3 form-check">
                    <input name="autorizacion" formControlName="autorizacion" type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label animate__animated animate__fadeInUp" for="exampleCheck1">Autoriza a WPLAY.CO para realizar el tratamiento y manejo de sus datos personales conforme a nuestra <a class="text-primary" href="https://www.wplay.co/mas/ayuda/terminos-y-condiciones/">politica de privacidad</a>.</label>
                </div>
            </div>
            <div class="col-sm-5 col-md-6  mt-2">


                <button [disabled]="!formT.get('autorizacion')?.value || isLoading " type="submit" class="btn btn-success btn-lg "><div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div> {{(isLoading)?'Cargando': 'Enviar'}}
                  </button>

            </div>
        </div>
        <!--End Sesión Autorización-->

    </form>
</div>
<div class="col mt-5">
    <app-footer></app-footer>
</div>