<app-header></app-header>
<section class="vh-100">
    <div class="container-fluid vh-100">
        <div class="row">
            <div class="col-sm-6 vh-100 container-box-1 ">
                <div class="d-flex justify-content-center  ">



                    <div class="card mt-5" style="width: 25rem;">

                        <img src="../../../assets/img/Wplay-Logo-blanco.png" class="card-img-top mt-4 mb-4 px-4" alt="..." style="width: 210px; height: 50px;">

                        <div class="card-body">
                            <h5 class="card-title mb-4 text-white text-center">Iniciar Sesión</h5>
                            <form>
                                <div class="row g-2">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-floating  mb-3 user">
                                            <input [(ngModel)]="user.email" type="email" name="email" class="form-control " id="floatingInput" placeholder="user">
                                            <label for="floatingInput">Correo</label>



                                        </div>
                                    </div>
                                </div>

                                <div class="row g-2">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-floating  mb-3 user">
                                            <input [(ngModel)]="user.clave" name="clave" [type]="show ? 'text' : 'password'" class="form-control " id="floatingInput" placeholder="user">
                                            <label for="floatingInput">Contraseña</label>


                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 form-check">
                                    <input class="btn text-white" (click)="password()" type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label text-white" for="exampleCheck1">Mostrar Contraseña</label>
                                </div>




                                <div class="d-grid gap-2 mt-5 mb-3 login-box">
                                    <button (click)="logIn()" class="btn" type="submit">
                                       Enviar</button>
                                </div>


                            </form>




                            <p class="card-text text-center text-white mt-5 ">¿Olvidaste tu contraseña?
                                <a [routerLink]="['/recuperar-contraseña']" [routerLinkActive]="['is-active']">
                                    <p class="card-text ">Recuperar</p>
                                </a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 vh-100 container-box-2">
                <button [routerLink]="['/registro']" [routerLinkActive]="['is-active']" class="btn registro">Registrate</button>

            </div>
        </div>
    </div>
</section>