<div class="px-5  contain ">
    <div class="row ">

        <div class="col-sm-5 col-md-3">

            <div class="sticky-top py-2 mt-4">
                <div class="card shadow p-3 mb-5 bg-body">
                    <form>
                        <div class="row text-center  py-3">

                            <div class="col-sm-2">
                            </div>
                            <div class="col-">
                                <div class="card border rounded ">
                                    <h5 class=" fw-bold">{{totalVacantes}} </h5>
                                    <h6>Ofertas Laborales</h6>

                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Palabra Clave" [(ngModel)]="filterPost" name="filterPost">

                        </div>
                        <div class="mb-3">
                            <select #t (change)="datos(t.value)" class="form-select" aria-label="Default select example">
                                <option value="" selected>Area</option>
                                <option  *ngFor="let categoria of categorias" >{{categoria.nombre}}</option>
                               
                              </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" aria-label="Default select example">
                                <option value="" selected>Ciudad</option>
                                <option  *ngFor="let ciudad of ciudades" >{{ciudad.ciudad}}</option>
                               
                              </select>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-dark" type="button">LIMPIAR FILTROS</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-sm-7 col-md-9">

            <div id="cards_landscape_wrap-2">
                <div class="container">
                    <div class="row">

                        <div *ngFor="let vacante of vacantes | paginate: {itemsPerPage: 8, currentPage: page, totalItems: totalVacantes } | filter: filterPost " [routerLink]="['/','oferta',vacante.id]" class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img [src]="vacante.imagen" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6 class="fw-bold text-start card-title  animate__animated animate__fadeInUp">{{vacante.nombreVacante}} </h6>

                                        <span *ngIf="vacante.c_vacantes > 1" class="badge rounded-pill text-start text-dark" style="background: #F7BE00;">{{vacante.c_vacantes}} Vacantes</span>

                                        <p class="card-text text-muted text-start animate__animated animate__fadeInUp">{{vacante.descripcion}}
                                        </p>
                                        <hr>
                                        <p class="card-subtitle text-muted fw-bold text-start animate__animated animate__fadeInDown">{{vacante.ciudad}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="sticky-buttom align-center mt-5">
                <pagination-controls class="text-center my-pagination" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>


        </div>

    </div>
</div>


<div class="col">
    <app-footer></app-footer>
</div>