.info:hover {
    background: rgb(230, 230, 247);
    cursor: pointer;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: rgb(41, 40, 40);
    color: white;
    border-radius: 25px;
}