<app-header></app-header>
<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-center  container-box">

                <div class="card " style="width: 40rem;">
                    <img src="../../../assets/img/Wplay-Logo-blanco.png" class="card-img-top mt-4 mb-4 px-4" alt="..." style="width: 210px; height: 50px;">

                    <div class="card-body">
                        <h5 class="card-title mb-4 text-white text-center">Registrate y aplica </h5>

                        <form [formGroup]="formRegister" (submit)="submit(formRegister.value)">


                            <div class="row g-2">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-floating  mb-3 user">
                                        <input formControlName="email" type="email" name="email" class="form-control " id="floatingInput" placeholder="user">
                                        <label for="floatingInput">Correo</label>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('email')?.hasError('required')&&formRegister.get('email')?.dirty && formRegister.get('email')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row g-2">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-floating  mb-3 user">
                                        <input formControlName="nombres" type="text" name="nombres" class="form-control " id="floatingInput" placeholder="user">
                                        <label for="floatingInput">Nombres</label>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('nombres')?.hasError('required')&&formRegister.get('nombres')?.dirty && formRegister.get('nombres')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-floating  mb-3 user">
                                        <input formControlName="apellidos" type="text" name="apellidos" class="form-control " id="floatingInput" placeholder="user">
                                        <label for="floatingInput">Apellidos</label>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('apellidos')?.hasError('required')&&formRegister.get('apellidos')?.dirty && formRegister.get('apellidos')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <div class="row g-2">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-floating  mb-3 user">
                                        <input formControlName="celular" type="text" name="celular" class="form-control " id="floatingInput" placeholder="user">
                                        <label for="floatingInput">Celular</label>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('celular')?.hasError('required')&&formRegister.get('celular')?.dirty && formRegister.get('celular')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-floating  mb-3 user">
                                        <input onfocus="(this.type='date')" onblur="(this.type= this.value ? 'date' : 'text')" formControlName="cumpleanios" name="cumpleanios" class="form-control " id="floatingInput" placeholder="user">
                                        <label for="floatingInput">Fecha de cumpleaños</label>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('cumpleanios')?.hasError('required')&&formRegister.get('cumpleanios')?.dirty && formRegister.get('cumpleanios')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="row g-2">
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-floating  mb-3 user">
                                        <input formControlName="cedula" type="text" name="cedula" class="form-control " id="floatingInput" placeholder="user">
                                        <label for="floatingInput">Cédula</label>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('cedula')?.hasError('required')&&formRegister.get('cedula')?.dirty && formRegister.get('cedula')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <div class="form-floating  mb-3 user">
                                        <input onfocus="(this.type='date')" onblur="(this.type= this.value ? 'date' : 'text')" formControlName="fechaexped_cc" name="fechaexped_cc" class="form-control " id="floatingInput" placeholder="user">
                                        <label for="floatingInput">Fecha de expedicón</label>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('fechaexped_cc')?.hasError('required')&&formRegister.get('fechaexped_cc')?.dirty && formRegister.get('fechaexped_cc')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <div class="form-floating  mb-3 user">
                                        <input formControlName="lugarexped_cc" type="text" name="lugarexped_cc" class="form-control " id="floatingInput" placeholder="user">
                                        <label for="floatingInput">Lugar de expedicón</label>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('lugarexped_cc')?.hasError('required')&&formRegister.get('lugarexped_cc')?.dirty && formRegister.get('lugarexped_cc')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                    </div>
                                </div>

                            </div>





                            <div class="row g-2">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-floating mb-3 user">


                                        <input formControlName="clave" type="password" name="clave" class="form-control" id="floatingPassword" placeholder="Password">
                                        <label for="floatingPassword">Contraseña</label>


                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('clave')?.hasError('required')&&formRegister.get('clave')?.dirty && formRegister.get('clave')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('clave')?.hasError('minlength')">
                                            <p>El campo debe tener minimo 10 caracteres</p>
                                        </div>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('clave')?.hasError('pattern')">
                                            <p>Debe tener al menos un número una letra mayuscula y un signo especial</p>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-sm-6 col-md-6">
                                    <div class="form-floating mb-3 user">
                                        <input formControlName="confirmClave" type="password" name="confirmClave" class="form-control" id="floatingPassword" placeholder="Password">
                                        <label for="floatingPassword">Confirmar Contraseña</label>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('confirmClave')?.hasError('required')&&formRegister.get('confirmClave')?.dirty && formRegister.get('confirmClave')?.touched ">
                                            <p>Este campo es obligatorio</p>
                                        </div>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('confirmClave')?.hasError('minlength')">
                                            <p>El campo debe tener minimo 10 caracteres</p>
                                        </div>
                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('confirmClave')?.hasError('pattern')">
                                            <p>debe tener al menos un número una letra mayuscula y un signo especial</p>
                                        </div>

                                        <div class="text-warning px-1 col-6 float-start " *ngIf="formRegister.get('confirmClave')?.hasError('mustMatch')">
                                            <p>La clave no es igual</p>
                                        </div>

                                    </div>
                                </div>


                            </div>



                            <div class="mb-3 form-check mt-4">
                                <input name="autorizacion" formControlName="autorizacion" type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"><p class="card-text text-start text-white ">
                                    <a href="https://www.wplay.co/mas/ayuda/terminos-y-condiciones/" target="_blank" >
                                        <p class="card-text">Autoriza términos y condiciones</p>
                                    </a>
                                </p></label>
                            </div>

                            <div class="d-grid gap-2 mt-3 mb-3 login-box">
                                <button [disabled]="!formRegister.get('autorizacion')?.value || formRegister.invalid" class="btn" type="submit">
                                   Registrar</button>
                            </div>



                        </form>
                        <p class="card-text text-center text-white mt-5 ">¿Ya tiene cuenta?
                            <a href="">
                                <p class="card-text ">Iniciar sesión</p>
                            </a>
                        </p>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>