<!-- Modal Formulario Formación -->
<div class="modal fade" id="modalFormacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="registerForm" name="registerForm" >
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Formación {{listaFormacion.institucion}}</h5>
                    <button type="button" (click)="cerrar()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <!--File 1-->
                    <div class="row g-2">

                        <div class="col-sm-12 col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-school"></i></span>
                                <input type="text" name="institucion" class="form-control" placeholder="Nombre de la institución" aria-label="Institución" aria-describedby="basic-addon1" value="listaFormacion.institucion">


                            </div>
                            
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-book"></i></span>
                                <input type="text" name="programa"  class="form-control" placeholder="Programa académico" aria-label="Programa" aria-describedby="basic-addon1">


                            </div>
                           
                        </div>



                    </div>
                    <!--End File 1-->




                    <!--File 2-->
                    <div class="row g-2">



                        <div class="col-sm-12 col-md-6">

                            <div class="input-group mb-3">
                                <label class="input-group-text dates" for="inputGroupSelect01"><i class="fa-solid fa-graduation-cap"></i></label>
                                <select name="nivel"  class="form-select" id="inputGroupSelect01">
                              <option class="text-muted" selected>Nivel Académico</option>
                              <option *ngFor="let nivel of niveles" >{{nivel}}</option>
                             
                            </select>
                            </div>



                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="input-group mb-3">


                                <label class="input-group-text dates" for="inputGroupSelect01"><i class="fa-solid fa-check-to-slot"></i></label>
                                <select name="estado"  class="form-select" id="inputGroupSelect01">
                              <option class="text-muted" selected>Estado</option>
                              <option  *ngFor="let estado of estados" >{{estado}}</option>
                             
                            </select>
                            </div>
                        </div>


                    </div>
                    <!--End File 2-->
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="cerrar()" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>



                    <button *ngIf="sw  else elseBlock" [disabled]="form.invalid" type="button" class="btn btn-primary" >Guardar Cambios Edicion</button>

                    <ng-template #elseBlock>
                        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Guardar Cambios Aplicar</button>
                    </ng-template>


                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->

                </div>
            </form>
        </div>
    </div>
</div>

<!--End Modal Formulario Formación -->


<!-- Modal Actualizar-->
<div class="modal fade" id="modalFormacionEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="registerForm" name="registerForm" [formGroup]="form" (ngSubmit)="enviar(form.value)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Formación {{listaFormacion.institucion}}</h5>
                    <button type="button" (click)="cerrar()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <!--File 1-->
                    <div class="row g-2">

                        <div class="col-sm-12 col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-school"></i></span>
                                <input type="text" name="institucion" formControlName="institucion" class="form-control" placeholder="Nombre de la institución" aria-label="Institución" aria-describedby="basic-addon1" value="listaFormacion.institucion">


                            </div>
                            <div class="text-danger px-1" *ngIf="form.get('institucion')?.hasError('required') && form.get('institucion')?.touched ">
                                <p>Este campo es <strong>obligatorio</strong></p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-book"></i></span>
                                <input type="text" name="programa" formControlName="programa" class="form-control" placeholder="Programa académico" aria-label="Programa" aria-describedby="basic-addon1">


                            </div>
                            <div class="text-danger px-1" *ngIf="form.get('programa')?.hasError('required') && form.get('programa')?.touched ">
                                <p>Este campo es <strong>obligatorio</strong></p>
                            </div>
                        </div>



                    </div>
                    <!--End File 1-->




                    <!--File 2-->
                    <div class="row g-2">



                        <div class="col-sm-12 col-md-6">

                            <div class="input-group mb-3">
                                <label class="input-group-text dates" for="inputGroupSelect01"><i class="fa-solid fa-graduation-cap"></i></label>
                                <select name="nivel" formControlName="nivel" class="form-select" id="inputGroupSelect01">
                              <option class="text-muted" selected>Nivel Académico</option>
                              <option *ngFor="let nivel of niveles" >{{nivel}}</option>
                             
                            </select>
                            </div>



                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="input-group mb-3">


                                <label class="input-group-text dates" for="inputGroupSelect01"><i class="fa-solid fa-check-to-slot"></i></label>
                                <select name="estado" formControlName="estado" class="form-select" id="inputGroupSelect01">
                              <option class="text-muted" selected>Estado</option>
                              <option  *ngFor="let estado of estados" >{{estado}}</option>
                             
                            </select>
                            </div>
                        </div>


                    </div>
                    <!--End File 2-->
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="cerrar()" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->

                </div>
            </form>
        </div>
    </div>
</div>

<!--End Modal Formulario Formación -->